#resultado{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

body {
    background-image: url(blue.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}